{%- if product.compare_at_price > product.price -%}
    <div class="price">
        <span class="original-price" style="text-decoration: line-through;">
            {{ product.compare_at_price | money }}
        </span>
        <span class="sale-price">
            {{ product.price | money }}
        </span>
    </div>
{%- else -%}
    <div class="price">
        <span class="regular-price">
            {{ product.price | money }}
        </span>
    </div>
{%- endif -%}